*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#body{
    background-color: rgb(41, 44, 41);
    background-image: url(src/assets/img/terrain.png);
    background-repeat: no-repeat;
    background-size: 100% ;
}
.position {
    width: 7em;
    height: 10em;
    background-image: url(src/assets/img/placeholder-removebg.png);
    background-size: cover;
    background-position: center;
}
.position:hover{
    z-index:  999;
}

.playground {
    background-image: url('src/assets/img/playground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.role{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 3em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(193, 192, 192);
}
 .card-play{
    padding: 1em;
    width: 7em;
    height: 10em;
     /* background-size: 100% 100%; */ 
     background-image: url(src/assets/img/badge_gold.webp);
    background-size: cover;
    background-position: center;

} 
.players{
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
    
}
.players p{
    font-size: x-small;
    display: inline;
}
.players img{
    
}
#container{
    overflow-y:scroll ;
    max-height: 100vh;
}
.player-card{
    width: 7em;
    height: 10em;
    background-image: url(src/assets/img/goldenBadge.png);
    background-size: auto;
    background-position: center;
    


}
#ajout{
    background-color: rgb(183, 183, 183);
    border-radius: 20px;
    padding: 2em;
}
