*{
    font-family: Arial, Helvetica, sans-serif;
}
.position {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7em;
    height: 10em;
    background-image: url(src/assets/img/placeholder-removebg.png);
    background-size: cover;
    background-position: center;
}

.playground {
    
    background-image: url('src/assets/img/playground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.role{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(193, 192, 192);

}
